<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Upload</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>File Upload</h1>
      <div class="message">{{.Message}}</div>
      <form class="form-signin" method="post" action="/upload" enctype="multipart/form-data">
          <fieldset>
            <input type="file" name="files" id="files">
            <input type="submit" name="submit" value="Submit">
        </fieldset>
      </form>
    </div>
    <div>
      <h3>Files</h3>
        {{range .Files}}
        <form class="form-files" method="post" action="/delete">
          <div>
            <input type="hidden" name="file" value={{.}}>
            <input type="submit" name="delete" value="Delete">
            <a href="assets/{{.}}">{{.}}</a>
          </div>
        </form>
        {{else}}
        <div>No files uploaded.</div>
        {{end}}
    </div>
 </body>
</html>
